In [1]:
import pandas as pd

In [2]:
df = pd.read_json('../data/apollo 16.json')

In [3]:
df.head()

,GENERIC,SAMPLEID,MISSION,STATION,LANDMARK,BAGNUMBER,ORIGINALWEIGHT,SAMPLETYPE,SAMPLESUBTYPE,PRISTINITY,PRISTINITYDATE,HASTHINSECTION,HASDISPLAYSAMPLE,DISPLAYSAMPLENUMBER,GENERICDESCRIPTION
0,60001,416.0,Apollo 16,LM,None,NaN,30.1,Core,unsieved,45.488,"November, 13 2013 00:00:00",True,NaN,None,None
1,60002,417.0,Apollo 16,LM,None,NaN,211.8,Core,unsieved,74.021,"November, 13 2013 00:00:00",True,NaN,None,None
2,60003,418.0,Apollo 16,LM,None,NaN,215.9,Core,unsieved,74.876,"November, 13 2013 00:00:00",True,NaN,None,None
3,60004,419.0,Apollo 16,LM,None,NaN,202.7,Core,unsieved,72.856,"November, 13 2013 00:00:00",True,NaN,None,None
4,60005,420.0,Apollo 16,LM,None,NaN,77.3,Core,unsieved,95.962,"March, 30 2012 00:00:00",False,NaN,None,None